h1 {
    color: green;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(11, 88, 17, 0.365);
}

section{
    background-color: rgba(0, 0, 0, 0.825);
    margin: 25px;
    overflow: scroll;
}

pre {
    text-align: left;
    /* border: solid; */
    font-weight: bold;
    /* background-color: rgba(228, 228, 166, 0.856); */
    color: rgb(190, 190, 161);
    width: 80%;
    margin: 10px;
}

.code-block>code {
    /* background-color: rgb(167, 163, 158); */
    /* border: solid grey; */
    line-height: 2;
    font-weight: bold;
    color: rgb(0, 213, 255);
}

.code-block>code::before {
    content: "<";
    color: red;
}

.code-block>code::after {
    content: "> ";
    color: red;
}